[submodule "fetcher"]
	path = fetcher
	url = https://github.com/aghex70/cwfetcher
[submodule "interceptor"]
	path = interceptor
	url = https://github.com/aghex70/interceptor-py
[submodule "courier"]
	path = courier
	url = https://github.com/aghex70/courier-py
